__pycache__
*.py[cod]
*.egg-info
.pytest_cache
build/
dist/
env/
prof/
.venv/
.env/
.vscode/
tests/data/config/log/
tests/data/config/presets/
tests/data/config/settings.ini
tests/data/config/autosave.avp
*.mkv
*.mp4
*.wav
*.mp3
*.aif
*.ac3
*.zip
*.tar
*.tar.*
*.exe
ffmpeg
*.bak
*~
*.goutput*
*.kate-swp
*.code-workspace
.coverage
htmlcov/