__pycache__
*.py[cod]
*.egg-info
.pytest_cache
build/
dist/
env/
.venv/
.env/
.vscode/
*.mkv
*.mp4
*.wav
*.mp3
*.aif
*.ac3
*.zip
*.tar
*.tar.*
*.exe
ffmpeg
*.bak
*~
*.goutput*
*.kate-swp
*.code-workspace
