include src/tests/*
include src/components/*.ui
include src/gui/*.ui
include src/gui/background.png
include src/encoder-options.json
global-exclude src/components/__template__.ui
global-exclude *.py[cod]
